@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@font-face {
    font-family: 'OperatorMono';
    src: url(OperatorMono-Light.otf);
}
/* 
ESTILOS IMPORTABLES
 --------------------------------------*/
 .row,.col{margin: 0; padding:0;}
 html{
     font-size: 16px;
     
     scroll-behavior: smooth;
 }
 :root {
 --fuente-uno: 'Open Sans', sans-serif;
 --fuente-dos: 'Open Sans Condensed', sans-serif;
 --fuente-tres: 'OperatorMono';
 --fuente-cuatro: 'Alex Brush', cursive;
 --color-uno: #f6921e;
 --color-dos:#262626;
 --color-tres:#24a9df;
 --color-cuatro:#8bc53f;
 --color-cinco:#ed4036;
 --color-seis: #c18de2;
 --color-siete: #c3c1cf;
 --color-dark-uno: #2a2d3e;
 --color-dark-dos: #002451;
 --color-dark-tres:#3a0000;
 }
 .colorNegro {
   background: black;
 }
 .espacio{
     height: 50px;
 }
 .espaciado{
     height: 150px;
 }
 .tituloUno{
   font-family: var(--fuente-uno);
 }
 .tituloDos{
   font-family: var(--fuente-dos);
 }
 .tituloTres{
   font-family: var(--fuente-tres);
 }
 .tituloCuatro {
   font-family: var(--fuente-cuatro);
 }
 .tamanoUno { 
   font-size: calc(0.7em + 1vw) 
  }
 .fw-3 {
     font-weight: 300 !important;
 }
 .fw-6{
   font-weight: 600 !important;
 }
 .fw-3{
   font-weight: 300 !important;
 }
 .fs-17 {
    font-size: 17px !important;
 }
 .fs-18 {
   font-size: 18px !important;
 }
 .fs-40{
   font-size: 40px !important;
 }
 .text-shadow {
   text-shadow: black 0.1em 0.1em 0.2em;
 }
.marcodigo {
  background-color: #2f2f2f;
  font-family: var(--fuente-tres);
}
.marcodigo pre {
  font-family: var(--fuente-tres);
  font-size: 16px;
  font-weight: 600;
}
.marcodigo h2 {
  background-color: #2f2f2f;
    color: #1fa2e1;
    border-radius: 6px 6px 0 0;
    width: 59px;
    position: relative;
    bottom: 14px;
    right: 13px;
    text-align: center;
    transform: rotate(-30deg);
    font-size: 20px;
    font-weight: 600;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 10px;
 }
.t1 {
  color: var(--color-uno) /* NARANJA */
}
.t2{
  color: var(--color-dos) /* NEGRO */
}
.t3{
  color: var(--color-tres) /* AZUL CLARO */
}
.t4{
  color: var(--color-cuatro) /* VERDE CLARO */
}
.t5{
  color: var(--color-cinco) /* ROJO */
}
.t6{
  color: var(--color-seis) /* VIOLETA */
}
.t7{
  color: yellow;
}
.t8{
  color: var(--color-siete);
}
 /* ------------------------------------
 ESTILOS IMPORTABLES
 */

/*  MODELO TABS */
.tabCode {
  border-radius: 0 6px 0 0;
}
.tab-1 {
  background-color: #2f2f2f;
  color: #1fa2e1;
  bottom: 14px;
  right: 13px;
  transform: rotate(-30deg);
}
.tab-2 {
  color: white;
  position: relative;
  bottom: 30px;
  cursor: pointer;
}
.tab-3  {
  color: white;
  position: relative;
  bottom: 30px;
  cursor: pointer;

}
.tab{
  position: relative;
  text-align: center;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 10px;
  background-color: var(--color-dark-uno);
  border-radius: 6px 6px 0 0;
  width: 60px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 10px;
  padding-right: 3px;
  padding-left: 3px;
}
.tab h2 {
  font-size: 20px;
  font-weight: 600;
  font-family: var(--fuente-tres);
}

#css-1 {
  display: none;
}
#js-1{
  display: none;
}
#html-2{
  display: none;
}
#js-2{
  display: none;
}
#html-content{
  border-radius: 0 0 6px 6px;
}
#html-3{
  display: none;
}
#css-3{
  display: none;
}
#css-content{
  background-color: var(--color-dark-uno);
  display: none;
}
#js-content{
  background-color: var(--color-dark-uno);
  display: none;
}
.tab-1, .tabCode, #html-content{
  background-color: var(--color-dark-uno);
}
.tabHtml {
  color: var(--color-cinco);
}
.tabCss {
  color: var(--color-tres);
}
.tabJs {
  color: yellow;
}
#html-2:hover, #html-3:hover{
  color: var(--color-cinco);
}
#css-2:hover, #css-3:hover{
  color: var(--color-tres);
}
#js-2:hover, #js-3:hover{
  color: yellow;
}
pre span {
  font-family: var(--fuente-tres);
  font-size: 18px;
  font-weight: 600;
}
