@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');

@font-face {
    font-family: 'Open Mono';
    src: url(OperatorMono-Light.otf);
}
/* 
ESTILOS IMPORTABLES
 --------------------------------------*/
 .row,.col{margin: 0; padding:0;}
 html{
     font-size: 16px;
     
     scroll-behavior: smooth;
 }
 :root {
 --fuente-uno: 'Open Sans', sans-serif;
 --fuente-dos: 'Open Sans Condensed', sans-serif;
 --fuente-tres: 'Open Mono';
 --fuente-cuatro: 'Alex Brush', cursive;
 --color-uno: #f6921e;
 --color-dos:#262626;
 --color-tres:#24a9df;
 --color-cuatro:#8bc53f;
 --color-cinco:#ed4036;
 --color-seis: #c18de2;
 }
 .colorNegro {
   background: black;
 }
 .espacio{
     height: 50px;
 }
 .espaciado{
     height: 150px;
 }
 .tituloUno{
   font-family: var(--fuente-uno);
 }
 .tituloDos{
   font-family: var(--fuente-dos);
 }
 .tituloTres{
   font-family: var(--fuente-tres);
 }
 .tituloCuatro {
   font-family: var(--fuente-cuatro);
 }
 .tamanoUno { 
   font-size: calc(0.7em + 1vw) 
  }
 .fw-3 {
     font-weight: 300 !important;
 }
 .fw-6{
   font-weight: 600 !important;
 }
 .fw-3{
   font-weight: 300 !important;
 }
 .fs-17 {
    font-size: 17px !important;
 }
 .fs-18 {
   font-size: 18px !important;
 }
 .fs-40{
   font-size: 40px !important;
 }
 .text-shadow {
   text-shadow: black 0.1em 0.1em 0.2em;
 }
.marcodigo {
  background-color: #2f2f2f;
  font-family: var(--fuente-tres);
}
.marcodigo pre {
  font-family: var(--fuente-tres);
  font-size: 16px;
  font-weight: 600;
}
.marcodigo h2 {
  background-color: #2f2f2f;
    color: #1fa2e1;
    border-radius: 6px 6px 0 0;
    width: 59px;
    position: relative;
    bottom: 14px;
    right: 13px;
    text-align: center;
    transform: rotate(-30deg);
    font-size: 20px;
    font-weight: 600;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 10px;
 }
.t1 {
  color: var(--color-uno)
}
.t2{
  color: var(--color-dos)
}
.t3{
  color: var(--color-tres)
}
.t4{
  color: var(--color-cuatro)
}
.t5{
  color: var(--color-cinco)
}
.t6{
  color: var(--color-seis)
}

 /* ------------------------------------
 ESTILOS IMPORTABLES
 */

/*  MODELO TABS */
.tabCode {
  background: transparent;
}
.tab-1 {
    background-color: #2f2f2f;
    color: #1fa2e1;
    border-radius: 6px 6px 0 0;
    width: 60px;
    position: relative;
    bottom: 14px;
    right: 13px;
    text-align: center;
    transform: rotate(-30deg);
    font-size: 20px;
    font-weight: 600;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 10px;
    font-family: var(--fuente-tres);
}
.tab-2 {
    position: relative;
    bottom: 30px;
    background-color: #2f2f2f;
    color: #1fa2e1;
    border-radius: 6px 6px 0 0;
    width: 60px;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding-top: 3px;
    padding-right: 3px;
    padding-left: 3px;
    padding-bottom: 10px;
    font-family: var(--fuente-tres);
}
.tab-3  {
  position: relative;
  bottom: 30px;
  position: relative;
  bottom: 30px;
  background-color: #2f2f2f;
  color: #1fa2e1;
  border-radius: 6px 6px 0 0;
  width: 60px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  padding-top: 3px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 10px;
  font-family: var(--fuente-tres);
}